
html[b-4unmw2jzng], body[b-4unmw2jzng] {
    height: 100%;
}

body[b-4unmw2jzng] {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url('/images/bg-customer.jpg') no-repeat center center fixed;
    background-size: cover;
}


.flex-grow-1[b-4unmw2jzng] {
    flex: 1;
}

.nav-pills .nav-link[b-4unmw2jzng] {
    color: #333;
    font-weight: 500;
    transition: all 0.2s;
}

    .nav-pills .nav-link.active[b-4unmw2jzng],
    .nav-pills .show > .nav-link[b-4unmw2jzng] {
        background-color: #4CAF50 !important;
        color: white !important;
    }

    .nav-pills .nav-link:hover:not(.active)[b-4unmw2jzng] {
        background-color: #e9ecef;
    }

h1[b-4unmw2jzng], h2[b-4unmw2jzng], h3[b-4unmw2jzng], h4[b-4unmw2jzng], h5[b-4unmw2jzng], h6[b-4unmw2jzng] {
    color: #FFE2C0;
}

footer[b-4unmw2jzng] {
    color: #e0e0e0;
}
